<katana-card>
  <div #formRef>

      <form #formSignIn="ngForm">

          <div class="form-group">
              <label for="Name">Name:</label>
              <input type="text" validation-name="name" class="form-control" id="Name" [(ngModel)]="item.name"
                  name="name">
          </div>
        
          <div class="form-group">
              <label for="Name">Tag:</label>
              <katana-chips  [(model)]="item.tags"></katana-chips>
          </div>
          <div class="form-group">
              <label for="Name">https_redirect_status_code:</label>
              <input type="text" class="form-control" id="URL" [(ngModel)]="item.https_redirect_status_code"
                  name="URL">
          </div>
          <div class="form-group">
              <label for="Name">Protocol:</label>
              <katana-chips  [(model)]="item.protocols"></katana-chips>
          </div>
          <div class="form-group">
              <label for="Name">Host:</label>
              <katana-chips  [(model)]="item.hosts"></katana-chips>
          </div>
          <div class="form-group">
              <label for="Name">regex_priority:</label>
              <input type="number" class="form-control" id="Port" [(ngModel)]="item.regex_priority" name="Port">
          </div>
          <div class="form-group">
              <label for="Name">paths:</label>
              <katana-chips validation-name="path" [(model)]="item.paths"></katana-chips>
          </div>
          <div class="form-group">
              <label for="Name">strip_path:</label>
              <select validation-name="service" class="form-control" [(ngModel)]="item.strip_path" >
                <option  value="1" [selected]>true
                </option>
                <option  value="0" >false
                </option>
            </select>
              <!-- <input type="text" class="form-control" id="Connect" [(ngModel)]="item.strip_path" name="Connect"> -->
          </div>
          <div class="form-group">
              <label for="Name">preserve_host:</label>
              <input type="text" class="form-control" id="Write" [(ngModel)]="item.preserve_host" name="Write">
          </div>
          <div class="form-group">
              <label for="Name">protocols</label>
              <input type="text" class="form-control" id="Write" [(ngModel)]="item.protocols" name="Write">
          </div>
          <div class="form-group">
              <label for="Name">Service</label>
              <select validation-name="service" class="form-control" (change)="onChange($event.target.value)" >
                  <option  *ngFor="let item of services" value="{{item.id}}" [selected]>{{item.name}}
                  </option>
              </select>
          </div>
      </form>
  </div>
</katana-card>